ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.cards>li {
    padding: 5px;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: 300px;
    vertical-align: top;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #CCC;
    display: inline-block;
}

ul.cards>li:hover {
    border: 1px solid deepskyblue;
    box-shadow: 15px 15px 5px #CCC;
}

section.users {
    padding: 5px;
}